*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
body{
    background: #181818;
    
}
.card-box{
    width: 100%;
    max-width: 540px;
    background: linear-gradient(30deg,#2e60dd,#0e296d);
    margin: 80px auto 0;
    text-align: center;
    padding: 40px 30px;
    border-radius: 12px;
    color: #fff;

}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.search input{
    flex: 1;
    border: 0;
    outline: 0;
    background: #fff;
    color: #555;
    padding: 2px 25px;
    height: 60px;
    border-radius: 23px;
    font-size: 16px;
    margin-right: 16px;
}
.search button{
    background: #fff;
    outline: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.search button img{
    width: 18px;
} 
.weather-ico {
width: 150px;
margin-top: 20px;
}
.weather h1{
    font-size: 80px;
    font: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 300;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    padding: 0 12px;
}   
.col{
    display: flex;
    align-items: center;

}
.col img{
    width: 36px;
    margin-right: 20px;
}